<% @imageBackground = root_url + "/images/" + Image.find(rand(1..9)).image_fname %>

<style>
  .tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      url(<%= @imageBackground %>);
  }
  a { color: #3399FF;}
  a:visited { color: #B2B2CC;}
</style>

<body class = "tinted-image" style = "color:white">
  <h1>Listing events</h1>

  <div class="row">
    <div class ="col-xs-6">
      <% @events.each do |event| %>
        <%= link_to event.event_name, event %><br>
            <!-- <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            <!-- <%= link_to 'New Event', new_event_path %> -->
      <% end %>
    </div>
    <div class ="col-xs-6">

    </div> 
  </div>
</body>
