<style>
.tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      );
    }
</style>

<p id="notice"><%= notice %></p>



<body class = "tinted-image">
  <div class="row">
    <div class ="col-xs-6">
      <p>
        <strong>Event desc:</strong>
        <%= @event.event_desc %>
      </p>

      <p>
        <strong>Event model:</strong>
        <%= @event.event_model %>
      </p>

      <p>
        <strong>Event year:</strong>
        <%= @event.event_year %>
      </p>

      <p>
        <strong>Event displacement:</strong>
        <%= @event.event_displacement %>
      </p>

      <p>
        <strong>Event weight:</strong>
        <%= @event.event_weight %>
      </p>

      <br>
      <br>
      <% if current_user.accesses.empty? %>
        
      <% end %>

      <% current_user.accesses.each do |a| %>
        <% if !(a.user_id == current_user.id && @event.id == a.event_id) && !a.event_id %>
          <div>
            <%= form_tag charges_path do %>
              <article>
                <label class="amount">
                  <span>Registration: $<%= @event.cost.to_s.insert(@event.cost.to_s.length - 2,'.') %></span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Payment for: <%= @event.event_name %>"
                      data-amount="<%=@event.cost%>"></script>
            <% end %>  
          </div>
          <% break %>
        <% else %>
          <h4> You have already Registered for this Event </h4>
        <% end %>
      <% end %>

    </div>
    <div class ="col-xs-6">
      <% @image.each do |image| %>
        <% if image.id == @event.track_id %>
          <% @track = @track.find(@event.track_id) %>
          <strong><%= @track.track_name %></strong>
          <%= link_to (image_tag root_url + "/images/" + image.image_fname, size: "600x320", alt: image.image_fname), @track %>
        <% end %>
      <% end %>
    </div> 
  </div>
</body>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', :back %>
