<style>
 p {
    color: black;
 }
</style>

<%= form_for(@ttime) do |f| %>
  <% if @ttime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ttime.errors.count, "error") %> prohibited this ttime from being saved:</h2>

      <ul>
      <% @ttime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field" >
    <%= f.label :car_id, "Your Cars" %><br>
    <p><%= select_tag :car_id, options_for_select(Car.where("user_id = ?", current_user.id).map {|u| [ "#{u.car_year} #{u.car_model} #{u.car_make}", u.id]}) %></p>

    <%= f.hidden_field :user_id %>
    <%= hidden_field_tag :user_id, current_user.id %>

    <%= f.hidden_field :track_id %>
    <%= hidden_field_tag :track_id, @track.id %>

    <%= f.label :minutes %>
    <p><%= f.number_field :minutes %></p>

    <%= f.label :seconds %><br>
    <p><%= f.number_field :seconds %></p>

    <%= f.label :miliseconds %><br>
    <p><%= f.number_field :miliseconds %></p>

  </div>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
<% end %>
