<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @access.track %>
</p>

<p>
  <strong>User:</strong>
  <%= @access.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @access.event %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
