<% @imageBackground = root_url + "/images/" + Image.find(rand(1..9)).image_fname %>

<style>
  .tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      url(<%= @imageBackground %>);
  }
  a { color: #3399FF;}
  a:visited { color: #B2B2CC;}
</style>

<body class="tinted-image" style="color:white">
	<div class="row">
	 <div class ="col-xs-6">
	 	<h3>Registered Vehicles</h3>
	 	<% current_user.cars.each do |car| %>
	 		<% if !car.new_record? %>
			  <strong>Car make:</strong>
			  <%= car.car_make %><br>
			  <strong>Car model:</strong>
			  <%= car.car_model %><br>
			  <strong>Car year:</strong>
			  <%= car.car_year %><br>
			  <strong>Car displacement:</strong>
			  <%= car.car_displacement %><br>
			  <strong>Car weight:</strong>
			  <%= car.car_weight %><br>
			  <strong>Car desc:</strong>
			  <%= car.car_desc %><br>
			  <strong>Recorded Times:</strong><br>
			  <td><%= link_to 'Edit', edit_car_path(car) %></td>
        	  <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			  <% car.ttimes.each do |time| %>
			  	<li><%= time.minutes.to_s+":"+
			  	    time.seconds.to_s+":"+
			  	    time.miliseconds.to_s+" @ " %>
			  	<%= link_to Track.find(time.track_id).track_name, Track.find(time.track_id) %></li>
			  <% end %>
			  <br>
			<% end %>
		<% end %>
		<%= render 'cars/form' %>
	 </div>
	 <div class ="col-xs-6">
	 	<h3>Upcoming Events</h3>
	 	<% @event.each do |event| %>
		 	<% current_user.accesses.each do |a| %>
		 		<% if a.user_id == current_user.id && event.id == a.event_id %>
		 			<li><%= link_to event.event_name, event %></li>
		 		<% end %>
		 	<% end %>
		<% end %>
	 </div> 
	</div>
</body>
