<h1>Word Ladder</h1>
<br>
<br>
<br>
<% load "#{Rails.root}/lib/words4.rb" %>

<% @start_word = dictionary.sample %>
<% @end_word = dictionary.sample %>

<%= form_tag(query_path, method: "get") do  %>
    <%="Step 0: "%>
    <%= hidden_field_tag(:start_word, @start_word) %>
    <%= hidden_field_tag(:end_word, @end_word) %>
    <%= @start_word %>    
<br>
    <%= label_tag(:query,"Step 1:") %>
    <%= text_field_tag(:query1) %>
<br>
    <%= label_tag(:query2,"Step 2:") %>
    <%= text_field_tag(:query2) %>
<br>
    <%= label_tag(:query3, "Step 3:") %>
    <%= text_field_tag(:query3) %>
<br>
    <%= label_tag(:query4,"Step 4:") %>
    <%= text_field_tag(:query4) %>
<br>
    <%= label_tag(:query5,"Step 5:") %>
    <%= text_field_tag(:query5) %>
    <%= submit_tag("Check Answer") %>
<br>
    <%="Goal:   "%>
    <%= @end_word %>
   
<% end %>
<br>
