<%= link_to "Play Again?", root_path %>
<h3>Your Guesses</h3>
<br>

<!--p>"$ whois #{@query_text} returned" // need to use <\%= tags</p-->
<br>
<table cellpadding="3" border="1">
    <tbody>
            <tr>
                    <td><%= "Start:" %></td>
                    <td><%= @query_text.first %></td>
            </tr>
            <% step_num = 1 %>
            <% @query_text[1..@query_text.length-2].each do |word_guess| %>
                     <tr>
                            <td><%= "Step #{step_num}:"%></td>
                            <td><%= word_guess %></td>
                    </tr>
                    <% step_num += 1 %>
            <% end %>
            <tr>
                    <td><%= "End:" %></td>
                    <td><%= @query_text.last %></td>
		    <%= @result %>
            </tr>
    </tbody>

    <% if(@correct == true) %>
        <%= "Correct you win" %>
    <% else %>
        <%= "Incorrect you loose" %>
    <% end %>
</table>
