<%= link_to "Play Again?", root_path %>
<h3>Your Guesses</h3>
<br>

<!--p>"$ whois #{@query_text} returned" // need to use <\%= tags</p-->
<br>
<tbody>
	<tr>
   		<td><%= "Start:" %></td>
   		<td><%= @query_text %></td>
   	</tr>
	<% @result.each do |word_guess| %>
		 <tr>
	   		<td><%= "Step:"%></td>
	   		<td><%= word_guess %></td>
	   	</tr>
	<% end %>
	<tr>
   		<td><%= "End:" %></td>
   		<td><%= @query_text %></td>
   	</tr>
</tbody>
