<p id="notice"><%= notice %></p>

<p>
  <strong>Tag string:</strong>
  <%= @tag.tag_string %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tag.image %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
