<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @high_score.user %>
</p>

<p>
  <strong>Game:</strong>
  <%= @high_score.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @high_score.score %>
</p>

<%= link_to 'Show All High Scores', high_scores_path %>
