<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doi_table.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @doi_table.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @doi_table.url %>
</p>

<%= link_to 'Edit', edit_doi_table_path(@doi_table) %> |
<%= link_to 'Back', doi_tables_path %>
