
<% @imageBackground = root_url + "/images/" + Image.find(rand(1..9)).image_fname %>

<style>
  .tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      url(<%= @imageBackground %>);
  }
  a { color: #3399FF;}
  a:visited { color: #B2B2CC;}
</style>
<body class="tinted-image">
<h1 style="color:white">Listing cars</h1>

<table style="color:white">
  <thead>
    <tr>
      <th>Make</th>
      <th colspan="5"></th>
      <th>Model</th>
      <th colspan="5"></th>
      <th>Year</th>
      <th colspan="5"></th>
      <th>Displacement</th>
      <th colspan="5"></th>
      <th>Weight</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.car_make %></td>
        <td colspan="5"></td>
        <td><%= car.car_model %></td>
        <td colspan="5"></td>
        <td><%= car.car_year %></td>
        <td colspan="5"></td>
        <td><%= car.car_displacement %></td>
        <td colspan="5"></td>
        <td><%= car.car_weight %></td>
        <td colspan="5"></td>
        <td><%= link_to 'Show', car %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>

</body>
