<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @driver %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.car_make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.car_model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.car_year %>
</p>

<p>
  <strong>Displacement:</strong>
  <%= @car.car_displacement %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @car.car_weight %>
</p>

<p>
  <strong>Car desc:</strong>
  <%= @car.car_desc %>
</p>


<% @car.ttimes.each do |time| %>
  <li><%= time.minutes.to_s+":"+
      time.seconds.to_s+":"+
      time.miliseconds.to_s+" @ " %>
  <%= link_to Track.find(time.track_id).track_name, Track.find(time.track_id) %></li>
<% end %>

<%= link_to 'Back', :back %>
