<% @track.accesses.each do |a| %>
  <% @image.each do |image| %>
    <% if a.image_id == image.track_id %>
      <% @imageBackground = root_url + "/images/" + image.image_fname %>
    <% end %>
  <% end %>  
<% end %>

<style>
  
  div { color: white;}
  a { color: #3399FF;}
  a:visited { color: #B2B2CC;}
  
  .tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url(<%= @imageBackground %>);
  }
</style>

<body class="tinted-image">
  <%= link_to 'Back', :back %>
  <p id="notice"><%= notice %></p>
  <h2><%= @track.track_name %></h2>

  <p>
    <strong>Track location:</strong>
    <%= @track.track_location %>
  </p>

  <div class="row">
    <div class ="col-xs-6">
      <strong>Track desc:</strong>
      <%= @track.track_desc %>
    </div>
    <div class ="col-xs-6">
      <% @track.ttimes.order("minutes,seconds,miliseconds").each do |time| %>
        <%= time.minutes.to_s+":"+time.seconds.to_s+":"+time.miliseconds.to_s %>
        &nbsp; &nbsp; 
        <% @cars.each do |car| %>
          <% if time.car_id == car.id && time.track_id == @track.id %>
            <%= link_to( car.car_year.to_s+" "+car.car_model, car) %><br>
          <% end %>
        <% end %>
      <% end %>
    </div> 
  </div>

  <br>
  <strong>Event Available Events:</strong>
  <div>
    <div>
      <% @track.events.reverse.each do |event| %>
        <div><%= link_to event.event_name, event %></div>
      <% end %>
    </div>
  </div>
</body>