<% @track.accesses.each do |a| %>
  <% @image.each do |image| %>
    <% if a.image_id == image.track_id %>
      <% @imageBackground = root_url + "/images/" + image.image_fname %>
    <% end %>
  <% end %>  
<% end %>

<style>
  
  div { color: white;}
  a { color: blue;}

</style>

<body style="background-image: url(<%= @imageBackground %>); ">
  <%= link_to 'Back', tracks_path %>
  <p id="notice"><%= notice %></p>
  <h2><%= @track.track_name %></h2>

  <p>
    <strong>Track location:</strong>
    <%= @track.track_location %>
  </p>

  <div class="row">
    <div class ="col-xs-6">
      <strong>Track desc:</strong>
      <%= @track.track_desc %>
    </div>
    <div class ="col-xs-6">
      <% @track.ttimes.each do |time| %>
        <%= time.minutes.to_s+":"+time.seconds.to_s+":"+time.miliseconds.to_s %>
        <% @cars.each do |car| %>
          <% if time.car_id == car.id && time.track_id == @track.id %>
            <%= link_to( car.car_year.to_s+" "+car.car_model, car) %>
          <% end %>
        <% end %>
      <% end %>
    </div> 
  </div>

  <br>
  <strong>Event Available Events:</strong>
  <div>
    <div>
      <% @track.events.reverse.each do |event| %>
        <div><%= link_to event.event_name, event %></div>
      <% end %>
    </div>
  </div>
</body>