<p id="notice"><%= notice %></p>

<% @track.accesses.each do |a| %>
  <% @image.each do |image| %>
    <% if a.image_id == image.track_id %>
      <%= image_tag root_url + "/images/" + image.image_fname, size: "100x100", alt: image.image_fname %>
    <% end %>
  <% end %>  
<% end %>
<p>
  <strong>Track name:</strong>
  <%= @track.track_name %>
</p>

<p>
  <strong>Track location:</strong>
  <%= @track.track_location %>
</p>

<p>
  <strong>Track desc:</strong>
  <%= @track.track_desc %>
</p>

<p>
  <strong>Images:</strong>
  <%= @track.image %>
</p>

<p>
  <strong>Event Available Events:</strong>
  <%= @track.event %>
</p>

<%= link_to 'Back', tracks_path %>
