<%= link_to 'New Image', new_image_path %>
<%= form_tag(query_path, method: "get") do  %>

    <%= label_tag(:query,"Search for User id") %> <br>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
   
<% end %>

<h2><%=current_user.name %>'s images</h2>
<table>
  <table>
    <% @images.each do |image| %>
      <% if image.private == "1" && image.user_id == current_user.id then %>
        <table>
          <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %></td>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </table>
      <% end %>
    <% end %>
  </table>
</table>

<h2>Public Images</h2>
<table>
  <tbody>
    <% @images.each do |image| %>
      <% if image.private == "0" then %>
        <tr>
          <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %></td>
          <% if image.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_image_path(image) %></td>
            <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Given Access to these Images</h2>
<table>
  <tbody>
    <% @images.each do |image| %>
      <% image.accesses.each do |a| %>
        <% if image.private == "1" && a.user_id == current_user.id then %>
          <tr>
            <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>


