<p id="notice"><%= notice %></p>
<div align="center">
<%= image_tag root_url + "/images/" + @image.filename, size: "600x400", :crop => :limit, alt: @image.filename %>
<br>
<strong>This Image Belongs To:</strong>
<%= @image.user.name %>
<br>

<% if current_user.id == @image.user_id then %>
  <%= form_for @image do |p| %>
    <strong>This image is </strong>
    <% if @image.private == "1" %>
      Private
    <% else %>
      Not Private
    <% end %>
      <%= p.check_box :private %>
      <%= p.submit "update" %>
  <% end %>

  <% if @image.private == "1" then %>
    <strong>Allow Access to</strong><br>
    <% @image.accesses.each do |a| %>
      <% @user.each do |u| %>
        <% if u.id == a.user_id then %>
          <%= u.name %>
          <%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
        <% end %>
      <% end %>
    <% end %>
    <%= render 'accesses/form' %>
  <% end %>
<% end %>
  <table>
    <strong>Tags....</strong>
    <tbody>
     <% @image.tags.reverse.each do |tag| %>
     <% if !tag.new_record? %>
       <tr>
         <td><%= tag.tag_string %></td>
         <% if @image.user_id == current_user.id %>
           <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
           <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
       </tr>
       <% end %>
     <% end %>
    </tbody>
  </table>
  <%= render 'tags/form' %>
</div>
<% if @image.user_id == current_user.id %>
  <%= link_to 'Edit', edit_image_path(@image) %> 
<% end %>
<%= link_to 'Back', images_path %>
