<p id="notice"><%= notice %></p>
<%= image_tag root_url + "/images/" + @image.filename, size: "400x300", :crop => :limit, alt: @image.filename %>

<p>
  <%= form_for @image do |p| %>
    <strong>This image is </strong>
    <% if @image.private == "1" %>
      Private
    <% else %>
      Not Private
    <% end %>
      <%= p.check_box :private %>
      <%= p.submit "update" %>
  <% end %>

  </div>

</p>

<p>
  <strong>Owner:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Allow Access to</strong>
  <%= @image.private %>
  <%= render 'accesses/form' %>
</p>

<p>
  <strong>Tag....</strong>
</p>
<table>
  <tbody>
   <% @image.tags.reverse.each do |tag| %>
   <% if !tag.new_record? %>
     <tr>
       <td><%= tag.tag_string %></td>
       <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
       <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
     <% end %>
   <% end %>
  </tbody>
</table>

<%= render 'tags/form' %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
