<p id="notice"><%= notice %></p>

<h1><%= @doi.name %>'s Urls </h1>
<h2><%= @doi.url %></h2>
<!-- this table use to be in app/views/urls/index.html.erb -->
<table>
  <thead>
      <tr>
        <th>Site</th>
        <th>Time</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doi.urls.reverse.each do |url| %>
    <% if !url.new_record? %>
      <tr>
        <td><%= url.site %></td>
        <td><%= @doi.created_at %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h3>Create New Url</h3>
<%= render 'urls/form' %>
<br>

<%= link_to 'Edit', edit_doi_path(@doi) %> |
<%= link_to 'Show all Dois', dois_path %>